<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phalanx</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <style>body {margin-top : 5em;}</style>
</head>
<body>
    <div class="container">
        <div class="well well-lg">
            <h1>Hello {{ name }} <small>from Phalanx</small></h1>
        </div>
    </div>
</body>
</html>